Este conjunto de datos de Excel es una colección de datos relacionados con los 50 libros más vendidos en Amazon para cada año entre 2009 y 2019.

El conjunto de datos incluye las siguientes variables:
    Nombre - El título del libro.
    Autor: el nombre del autor del libro.
    Calificación del usuario: la calificación promedio del libro proporcionada por los usuarios de Amazon.
    Reseñas: el número total de reseñas que ha recibido el libro en Amazon.
    Precio: el precio del libro en dólares estadounidenses.
    Año: el año en que se publicó el libro.
    Género - El género del libro.

Los 50 libros más vendidos de Amazon se pueden utilizar para explorar las tendencias en las ventas de libros en Amazon durante una década y es útil para los principiantes en análisis de datos.

Enlace del archivo: https://www.kaggle.com/datasets/sootersaalu/amazon-top-50-bestselling-books-2009-2019/download?datasetVersionNumber=1&ref=hackernoon.com

In [4]:
import pandas as pd

libro = pd.read_csv('libros_modificado.csv')

In [5]:
libro.head()

,Name,Author,Reviews,Price,Year,Genre,Read
0,10-Day Green Smoothie Cleanse,JJ Smith,17350,8,2016,Non Fiction,No
1,11/22/63: A Novel,Stephen King,2052,22,2011,Fiction,No
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,18979,15,2018,Non Fiction,No
3,1984 (Signet Classics),George Orwell,21424,6,2017,Fiction,No
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,7665,12,2019,Non Fiction,No